name: Deploy to Production

on:
  push:
    branches: [production]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      # Cache do composer
      - name: Get Composer Cache Directory
        id: composer-cache
        run: |
          echo "::set-output name=dir::$(composer config cache-files-dir)"
      - uses: actions/cache@v4
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-

      # Executar yarn, migration and restart server
      - name: Install dependencies, run migrations and restart server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          port: ${{ secrets.SSH_PORT }}
          key: ${{secrets.SSH_KEY}}
          script: |
            cd ~/app/secret-santa
            git stash
            git pull origin production
            composer i
            php artisan config:clear
            php artisan cache:clear
            php artisan view:clear
            php artisan route:clear
            # php artisan route:cache
            php artisan event:clear
            cat /dev/null > storage/logs/laravel.log
            pm2 restart all --update-env
